    button {
        background-color: #FCFFA6;
    }
    
    .nav {
        background-color: #B5DEFF;
        background-image: linear-gradient(CAB8FF, FCFFA6);
    }
    
    navbar navbar-expand-lg navbar-light bg-light {
        background-color: #CAB8FF;
    }
    
    .nav-item {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    body {
        background-image: url(img/logos/New-Logo-Institut.jpg);
        background-repeat: no-repeat;
        background-position: auto;
        background-size: cover;
    }
    
    .h1 {
        background-color: #B5DEFF;
        background-image: linear-gradient(CAB8FF, FCFFA6);
    }
    
    .flex-container {
        background-color: #FCFFA6;
        width: 570px;
        height: auto;
        text-align: auto;
        padding-left: 1%;
        padding-top: 1%;
        padding-bottom: 1%;
        border: 5%;
        margin-top: 2%;
        margin-left: 5%;
        border-radius: 5px;
        text-justify: auto;
    }
    
    .body-QuienesSomos {
        background-color: B5DEFF#FCFFA6;
        width: auto;
        height: auto;
        text-align: auto;
        padding-left: 1%;
        padding-top: 1%;
        padding-bottom: 1%;
        border: 5%;
        margin-top: 2%;
        margin-left: 5%;
        border-radius: 20px;
        text-justify: auto;
    }
    
    .quienes-somos {
        background-color: #FCFFA6;
        width: auto;
        height: auto;
        text-align: auto;
        padding-left: 1%;
        padding-top: 1%;
        padding-bottom: 1%;
        border: 5%;
        margin-top: 2%;
        margin-left: 5%;
        border-radius: 20px;
        text-justify: auto;
    }
    
    .display-6 {
        text-align: right;
        color: rgba(0, 0, 0, 0.5);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-right: 30px;
        border-radius: 5 0px;
        float: inline-end;
        color: rgba(0, 0, 0, 0.5);
    }
    
    .titleQuienesSomos {
        background-color: #FCFFA6;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-right: 50px;
        border-radius: 50px;
        float: inline-end;
    }
    
    .titleNuestrasActividades {
        background-color: #FCFFA6;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-right: 50px;
        border-radius: 50px;
        float: inline-end;
    }
    
    .body-Certificaciones {
        background-color: #FCFFA6;
        width: auto;
        height: auto;
        text-align: auto;
        padding-left: 1%;
        padding-top: 1%;
        padding-bottom: 1%;
        border: 5%;
        margin-top: 2%;
        margin-left: 5%;
        border-radius: 20px;
        text-justify: auto;
    }
    
    .bodyNuestrasActividades {
        background-color: #FCFFA6;
        width: auto;
        height: auto;
        text-align: auto;
        padding-left: 1%;
        padding-top: 1%;
        padding-bottom: 1%;
        border: 5%;
        margin-top: 2%;
        margin-left: 5%;
        border-radius: 20px;
        text-justify: auto;
    }
    
    .accordion-body {
        background-color: #FCFFA6;
        width: auto;
        height: auto;
        text-align: auto;
        padding-left: 1%;
        padding-top: 1%;
        padding-bottom: 1%;
        border: 5%;
        margin-top: 2%;
        border-radius: 20px;
        text-justify: auto;
    }